/* Add some basic styling for the index bar */
#index-bar {
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
  border-radius: 10px; /* Add rounded corners */
}

#index-bar a {
  text-decoration: none;
  padding: 10px;
  margin: 0 10px;
  color: #333;
  font-weight: bold;
  cursor: pointer; /* Add pointer cursor for better UX */
  border-radius: 5px; /* Add rounded corners for links */
}

/* Hide sections by default */
#teaching, #service, #publications {
  display: none;
}

